body {
    font-family: Helvetica;

    background: url("/Users/becky/Documents/JS Books/javascript-and-jquery-book-code-0915/c01/images/constructive-backdrop.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
     padding: 0;
    margin: 0;
    }

h1, h3, p {
    float: left;
    clear: left;
    width: 320px;
   /* background-color: #ffff*/;
    color: #5a514c;
    text-align: center;}

    h1 {
    	height 175pt;
    	margin 50px 0 0 50px;
       color: black;
       font-style: bold;
      /* background-image: url("/Users/becky/Documents/JS Books/javascript-and-jquery-book-code-0915/c01/images/constructive-logo.gif");
       background-repeat: no-repeat;
		text-indent: -9999px;
    	border-top: 1px solid #bcbdc0;
    	border-left: 1px solid #bcbdc0;
   		border-right: 1px solid #bcbdc0;*/
    }
	
	h3 {
		margin 0 0 0 50px;
       	color: blue;
      	font-style: italic;
        font-size: 23;
    }
    

    