body {
    background-color: #4ABDAC;
    color: #FFFFFF;
    font-family: Georgia, serif;
  }
  header {
    background-color: #F7B733;
    height: 75px;
  }
  
  h1 {
    padding: 15px;
  }
  
  h2{
    float: right
  }
  
  #navigation {
    height: 30px;
    width: 40%;
    margin-left: auto;
    margin-right: auto
  }
  
  li {
    float: left;
    list-style: none;
    padding-left: 20px
  }
  
  #navigation li:hover {
    border-bottom: 1px #FC4A1A solid;
  }
  #content {
    background-color: #DFDCE3;
    width: 50%;
    margin: 0 auto;
  }
  div {
    background-color: #FC4A1A;
    width: 250px;
    height: 150px;
    padding: 10px;
    margin: 20px;
  }
  
  
  #topRight,#bottomRight{
    float: right;
    margin-top: 0
  }
 
    /*
    body {
    
   background-color: white; 
   margin: 20px;
  }

  header {
   background-color:rgb(18, 18, 99); 
   border-color: yellow solid 5px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 50px;
   padding: 4px;
   color: white;
        }

   footer {
   font-family: sans-serif;
   font-size: 20px;
   color: black;
          }
    
    img {
        display: block;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
     }

     div {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
     }*/
    