body {
    background-image: url('/Users/becky/Documents/HTML & CSS/bg2.jpg');
    background-color: #cccccc;
    font-family: Helvetica;
    text-align: center;
    padding: 0;
    margin: 0;
    }

    h1 {
        color: black;
        font-family: 'Times New Roman' ;
        padding: 50;
        font-size: 48px;
        }

        h2 {
            color: green;
            font-family: 'Times New Roman' ;
            font-size: 24px;
            }

    img {
        height: 250px;
        
        }

p {
    color: black;
    padding: 50;
    font-size: 2em;
    }